@import url("https://fonts.googleapis.com/css2?family=Nunito");

body {
  display: flex;
  justify-content: center;
  background: url(./space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root * {
  text-align: center;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem;
}

h1 {
  padding-bottom: 2rem;
}

.button-container {
  padding: 2rem;
}

.item-detail-container {
  background: rgba(12, 12, 12, 0.529);
  padding: 1rem;
  border-radius: 10px;
}

.item-detail-container > div {
  background-color: #ff4e748e;
  border: none;
}

.item-detail-container > div > h3 {
  color: rgb(238, 238, 238);
  font-family: "Nunito", sans-serif;
}

.more-info {
  display: block;
}

.obj-container {
  flex-direction: column;
}

button {
  margin: 1rem;
}

.marshmallow-link {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  font-family: "Nunito", sans-serif;
}

a,
a:focus,
a:active {
  color: inherit;
}
